<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909284132575-03i5l6vcg3j6v0fla26u8m1m3rao49k9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909284132575-03i5l6vcg3j6v0fla26u8m1m3rao49k9</string>
	<key>API_KEY</key>
	<string>AIzaSyA8p2mEdb4lhIv1iGnyEJwPezm7x3PB5ug</string>
	<key>GCM_SENDER_ID</key>
	<string>909284132575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litech.sns-sample</string>
	<key>PROJECT_ID</key>
	<string>sns-sample-c4cb5</string>
	<key>STORAGE_BUCKET</key>
	<string>sns-sample-c4cb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909284132575:ios:975d675e3e8e886911cb6a</string>
</dict>
</plist>